In [1]:
import pandas as pd
import numpy as np
import sys
from sklearn.metrics import accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
#np.set_printoptions(threshold=sys.maxsize)

In [2]:
train = pd.read_csv('training.csv')
test = pd.read_csv('testing.csv')

In [3]:
gender_map = {'F':0,'M':1}
customer_map = {'Active': 1,'Lapsed':0}
train['Gender'] = train['Gender'].map(gender_map)
train['Customer_Status'] = train['Customer_Status'].map(customer_map)
train = train.drop(['Avg_available_bal','CLIENTNUM','Total_Revolving_Bal','Relationship_age_months'], axis = 1)
train.head()

,Customer_Status,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,42,0,2,Graduate,Single,Less than $40K,Blue,2,1,1,3659.0,0.797,4068,61,0.694,0.000
1,1,39,1,1,Graduate,Married,$120K +,Blue,6,3,2,5764.0,1.356,1972,38,0.520,0.265
2,1,52,1,1,Graduate,Married,$80K - $120K,Blue,6,1,1,2689.0,0.378,1356,33,0.435,0.772
3,1,46,1,4,High School,Married,$80K - $120K,Blue,3,2,3,15535.0,0.461,3718,66,0.610,0.084
4,1,43,1,2,College,Married,$80K - $120K,Blue,6,1,4,1669.0,0.698,3591,59,0.788,0.000

In [4]:
from sklearn.preprocessing import OneHotEncoder
cols_to_encode = ['Education_Level','Marital_Status','Income_Category','Card_Category']
train_cat = train[cols_to_encode]
encoder = OneHotEncoder()
sparse = encoder.fit_transform(train_cat)
train_t = pd.DataFrame(sparse.toarray())
train_encoded = pd.concat([train, train_t], axis = 1)
train_encoded = train_encoded.drop(cols_to_encode, axis = 1)
train_encoded.info()
train_encoded.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8101 entries, 0 to 8100
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_Status           8101 non-null   int64
 1   Customer_Age              8101 non-null   int64
 2   Gender                    8101 non-null   int64
 3   Dependent_count           8101 non-null   int64
 4   Total_Relationship_Count  8101 non-null   int64
 5   Months_Inactive_12_mon    8101 non-null   int64
 6   Contacts_Count_12_mon     8101 non-null   int64
 7   Credit_Limit              8101 non-null   float64
 8   Total_Amt_Chng_Q4_Q1      8101 non-null   float64
 9   Total_Trans_Amt           8101 non-null   int64
 10  Total_Trans_Ct            8101 non-null   int64
 11  Total_Ct_Chng_Q4_Q1       8101 non-null   float64
 12  Avg_Utilization_Ratio     8101 non-null   float64
 13  0                         8101 non-null   float64
 14  1                         8101 non-null   float64
 15  2                         8101 non-null   float64
 16  3                         8101 non-null   float64
 17  4                         8101 non-null   float64
 18  5                         8101 non-null   float64
 19  6                         8101 non-null   float64
 20  7                         8101 non-null   float64
 21  8                         8101 non-null   float64
 22  9                         8101 non-null   float64
 23  10                        8101 non-null   float64
 24  11                        8101 non-null   float64
 25  12                        8101 non-null   float64
 26  13                        8101 non-null   float64
 27  14                        8101 non-null   float64
 28  15                        8101 non-null   float64
 29  16                        8101 non-null   float64
 30  17                        8101 non-null   float64
 31  18                        8101 non-null   float64
 32  19                        8101 non-null   float64
 33  20                        8101 non-null   float64
dtypes: float64(25), int64(9)
memory usage: 2.1 MB

,Customer_Status,Customer_Age,Gender,Dependent_count,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,...,11,12,13,14,15,16,17,18,19,20
0,1,42,0,2,2,1,1,3659.0,0.797,4068,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1,39,1,1,6,3,2,5764.0,1.356,1972,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1,52,1,1,6,1,1,2689.0,0.378,1356,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1,46,1,4,3,2,3,15535.0,0.461,3718,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1,43,1,2,6,1,4,1669.0,0.698,3591,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [5]:
gender_map = {'F':0,'M':1}
customer_map = {'Active': 1,'Lapsed':0}
test['Gender'] = test['Gender'].map(gender_map)
test = test.drop(['Avg_available_bal','CLIENTNUM'], axis = 1)
test.head()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Relationship_age_months,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,52,0,3,Uneducated,Single,Less than $40K,Blue,41,2,1,2,1801.0,0,0.516,5047,79,0.756,0.000
1,32,1,0,Post-Graduate,Married,$60K - $80K,Blue,25,6,2,2,4469.0,2331,1.006,8314,67,0.763,0.522
2,43,1,1,Post-Graduate,Unknown,$60K - $80K,Blue,37,4,3,4,4112.0,1128,0.587,4446,75,0.667,0.274
3,40,1,4,Uneducated,Single,$80K - $120K,Blue,36,6,3,2,34516.0,572,1.050,8659,81,1.077,0.017
4,45,0,4,Uneducated,Divorced,Unknown,Blue,36,4,3,3,15875.0,1719,0.860,1592,37,1.467,0.108

In [6]:
cols_to_encode = ['Education_Level','Marital_Status','Income_Category','Card_Category']
test_cat = test[cols_to_encode]
encoder = OneHotEncoder()
sparse = encoder.fit_transform(test_cat)
test_t = pd.DataFrame(sparse.toarray())
test_encoded = pd.concat([test, test_t], axis = 1)
test_encoded = test_encoded.drop(cols_to_encode, axis = 1)
test_encoded.info()
len(train_encoded[1])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2026 entries, 0 to 2025
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_Age              2026 non-null   int64
 1   Gender                    2026 non-null   int64
 2   Dependent_count           2026 non-null   int64
 3   Relationship_age_months   2026 non-null   int64
 4   Total_Relationship_Count  2026 non-null   int64
 5   Months_Inactive_12_mon    2026 non-null   int64
 6   Contacts_Count_12_mon     2026 non-null   int64
 7   Credit_Limit              2026 non-null   float64
 8   Total_Revolving_Bal       2026 non-null   int64
 9   Total_Amt_Chng_Q4_Q1      2026 non-null   float64
 10  Total_Trans_Amt           2026 non-null   int64
 11  Total_Trans_Ct            2026 non-null   int64
 12  Total_Ct_Chng_Q4_Q1       2026 non-null   float64
 13  Avg_Utilization_Ratio     2026 non-null   float64
 14  0                         2026 non-null   float64
 15  1                         2026 non-null   float64
 16  2                         2026 non-null   float64
 17  3                         2026 non-null   float64
 18  4                         2026 non-null   float64
 19  5                         2026 non-null   float64
 20  6                         2026 non-null   float64
 21  7                         2026 non-null   float64
 22  8                         2026 non-null   float64
 23  9                         2026 non-null   float64
 24  10                        2026 non-null   float64
 25  11                        2026 non-null   float64
 26  12                        2026 non-null   float64
 27  13                        2026 non-null   float64
 28  14                        2026 non-null   float64
 29  15                        2026 non-null   float64
 30  16                        2026 non-null   float64
 31  17                        2026 non-null   float64
 32  18                        2026 non-null   float64
 33  19                        2026 non-null   float64
 34  20                        2026 non-null   float64
dtypes: float64(25), int64(10)
memory usage: 554.1 KB

8101

In [7]:
X = train_encoded.drop([0,1,11],axis = 1)
y = train_encoded[1]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

## DecisionTree With AdaBoosting

In [9]:
#from sklearn.ensemble import AdaBoostClassifier
#from sklearn.tree import DecisionTreeClassifier
#ada_clf = AdaBoostClassifier(
#DecisionTreeClassifier(max_depth = 1), n_estimators = 200, algorithm = 'SAMME.R', learning_rate = 0.2)
#ada_clf.fit(X_train, y_train)

In [10]:
#y_pred = ada_clf.predict(X_test)

In [11]:
#accuracy_score(y_test,y_pred)

## XGBoost

In [12]:
import xgboost
c = xgboost.XGBClassifier()
c.fit(X_train, y_train)

C:\Users\decap\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[15:16:33] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=12, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [15]:
y_pred = c.predict(X_test)
accuracy_score(y_test,y_pred)

0.9511352418558736